@model List<DomainViewModel>
@if (Model.Count > 1)
{
    ViewData["Title"] = "Domänen";
}
else
{
    ViewData["Title"] = "Domäne";
}

<div class="row">
    <div class="col-md-3 pull-left">
        <h2>@ViewData["Title"] <span class="badge">@Model.Count</span></h2>
    </div>
    <div class="col-md-1 pull-right">
        <h2><a href="/Domain/Create"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true" title="neue Domäne anlegen"></span></a></h2>
    </div>

</div>
@for (int i = 0; i < Model.Count; i++)
{
    <div class="row">
        <div class="col-md-6">
            @{
                var domain = Model[i];
            }
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Dom&auml;ne: <i class="text-primary">@domain.Domainname</i></b>
                    <a class="pull-right" href="/Domain/Delete?id=@domain.Id"><i class="fa fa-times fa-lg text-primary" aria-hidden="true" title="Domäne löschen"></i></a>
                </div>
                <div class="panel-body">
                    <b>Benutzer: <span class="badge">@domain.UserCount</span></b>
                    <br />
                    <br />
                    <b>Speicher:</b> @domain.MemoryUsage
                    <br />
                    <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:@domain.PercentageUsed%">
                            @domain.PercentageUsed%
                        </div>
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:@domain.PercentageFree%">
                            @domain.PercentageFree%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (++i < Model.Count)
        {
            <div class="col-md-6">
                @{
                    domain = Model[i];
                }
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Dom&auml;ne: <i class="text-primary">@domain.Domainname</i></b>
                        <a class="pull-right" href="/Domain/Delete?id=@domain.Id"><i class="fa fa-times fa-lg text-primary" aria-hidden="true" title="Domäne löschen"></i></a>
                    </div>
                    <div class="panel-body">
                        <b>Benutzer: <span class="badge">@domain.UserCount</span></b>
                        <br />
                        <br />
                        <b>Speicher:</b> @domain.MemoryUsage
                        <br />
                        <br />
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:@domain.PercentageUsed%">
                                @domain.PercentageUsed%
                            </div>
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:@domain.PercentageFree%">
                                @domain.PercentageFree%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
